# Arquivo EditorConfig do rAthena
# EditorConfig é incrível: https://EditorConfig.org
# Este arquivo deve ser codificado em UTF-8 com terminações de linha CRLF ou LF.

root = true

# Adicionar uma nova linha em branco ao final de cada arquivo após salvar
# Remover espaços em branco no final das linhas
# Ajustar conjunto de caracteres
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Usar tabs no código fonte
[*.{cpp,c,hpp,h}]
indent_style = tab

# YAML não suporta tabs.
[*.{yml,yaml}]
indent_style = space
indent_size = 4

# Usar tabs em Makefiles
[Makefile*]
indent_style = tab

# Scripts devem usar tabs para evitar problemas no cabeçalho dos scripts.
[npc/**.txt]
indent_style = tab