# Arquivo EditorConfig do rAthena
# EditorConfig é incrível: https://EditorConfig.org
# Este arquivo deve ser codificado em UTF-8 com finais de linha CRLF ou LF.

root = true

# Adiciona uma linha em branco ao final de cada arquivo após salvar
# Remove espaços em branco no final das linhas
# Ajusta o conjunto de caracteres
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Usar tabulações no código-fonte
[*.{cpp,c,hpp,h}]
indent_style = tab

# YAML não suporta tabulações rígidas.
[*.{yml,yaml}]
indent_style = space
indent_size = 4

# Usar tabulações em Makefiles
[Makefile*]
indent_style = tab

# Scripts devem usar tabulações rígidas para evitar problemas no cabeçalho do script.
[npc/**.txt]
indent_style = tab
